* {
  font-family: Arial, Helvetica, sans-serif; }

main {
  width: 100%;
  display: inline-block;
  box-sizing: border-box; }

header {
  width: 100%; }

header h1 {
  text-align: center;
  font-size: 500%; }

section {
  margin: 5px 0px;
  display: block;
  box-sizing: border-box;
  padding: 10px 20%; }

section.example {
  width: 100%;
  height: 230px;
  padding: 10px 20%; }

section.example-move {
  width: 100%;
  height: 330px;
  padding: 10px 20%; }

section.example-code {
  background-color: #f1f1f1;
  padding: 5px 20px;
  box-shadow: 4px 4px 10px #888888;
  border-radius: 25px;
  width: 60%;
  margin: auto; }

div.code-fragment {
  margin: auto 10%; }

div.move-contain {
  margin: auto;
  width: 300px;
  height: 300px; }

div.animate {
  margin: auto;
  background-color: #ff0000;
  width: 200px;
  height: 200px; }

div.animate-move {
  background-color: #ff0000;
  width: 100px;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0px; }

div#example-basic {
  -webkit-animation: basic 5s ease 1s;
  -o-animation: basic 5s ease 1s;
  animation: basic 5s ease 1s; }

@keyframes basic {
  from {
    background-color: red; }
  to {
    background-color: yellow; } }
div#example-inf {
  -webkit-animation: inf 5s ease infinite;
  -o-animation: inf 5s ease infinite;
  animation: inf 5s ease infinite; }

@keyframes inf {
  0% {
    background-color: red; }
  25% {
    background-color: yellow; }
  50% {
    background-color: green; }
  75% {
    background-color: blue; }
  100% {
    background-color: red; } }
div#example-rev {
  -webkit-animation: move 4s ease 1s infinite reverse;
  -o-animation: move 4s ease 1s infinite reverse;
  animation: move 4s ease 1s infinite reverse; }

div#example-alt {
  -webkit-animation: move 4s ease 1s infinite alternate;
  -o-animation: move 4s ease 1s infinite alternate;
  animation: move 4s ease 1s infinite alternate; }

@keyframes move {
  0% {
    top: 0px;
    left: 0px; }
  25% {
    top: 0px;
    left: 200px; }
  50% {
    top: 200px;
    left: 200px; }
  75% {
    top: 200px;
    left: 0px; }
  100% {
    top: 0px;
    left: 0px; } }
.party {
  -webkit-animation: party 1s linear 300s infinite;
  -o-animation: party 1s linear 300s infinite;
  animation: party 1s linear 300s infinite; }

@keyframes party {
  0% {
    background-color: red;
    font-size: 100%; }
  25% {
    background-color: yellow;
    font-size: 150%; }
  50% {
    background-color: green;
    font-size: 200%; }
  75% {
    background-color: blue;
    font-size: 150%; }
  100% {
    background-color: red;
    font-size: 100%; } }
p {
  -webkit-animation: p-party 1s linear 300s infinite;
  -o-animation: p-party 1s linear 300s infinite;
  animation: p-party 1s linear 300s infinite; }

@keyframes p-party {
  0% {
    border: 2px dotted red; }
  25% {
    border: 2px dashed blue; }
  50% {
    border: 2px dotted red; }
  75% {
    border: 2px dashed blue; }
  100% {
    border: 2px dotted red; } }
section.example {
  -webkit-animation: spin-example 2s linear 300s infinite;
  -o-animation: spin-example 2s linear 300s infinite;
  animation: spin-example 2s linear 300s infinite; }

@keyframes spin-example {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=css-animation-css.css.map */
